
body
.header {
  background-color: lightblue;
  height: 177px;
  font-size: 0,8em;
  margin-left: 0;
  margin-right: 0;
  min-width: 900px;
}

.content {
   width: 300px;
   background-color: Pink;
 }

.color_love {
  color: Red;
}

#container {
  width: 200px;
  height: 200px;
  position: relative;
  background: yellow;
  margin: 20px;
}
#animate {
  width: 50px;
  height: 50px;
  position: absolute;
  background: red;
}


nav {
    margin: 100px 0;
    background-color:#14253d;
}

/* убираем отступы и поля, а также list-style для "ul", 
 * и добавляем "position:relative" */
nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
    }

/* применяем inline-block позиционирование к элементам навигации */
nav ul li {
    margin: 0px -7px 0 0;
    display:inline-block;
    background-color: #788496;
    }

/* стилизуем ссылки */
nav a {
    display:block;
    padding:0 10px;
    color:#FFF;
    font-size:20px;
    line-height: 60px;
    text-decoration:none;
}

/* изменяем цвет фона при наведении курсора */
nav a:hover {
    background-color: #000000;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
}

/* отображаем выпадающий список при наведении */
nav ul li:hover > ul {
  display:inherit;
}

/* первый уровень выпадающего списка */
nav ul ul li {
  min-width:170px;
  float:none;
  display:list-item;
  position: relative;
}